:root {
	/* using Nightlion V2 color scheme */
	--bg-color: #171717;

	--main-gray: #4C4C4C;
	--main-red: #BB0000;
	--main-green: #5FDE8F;
	--main-yellow: #F3F167;
	--main-blue: #64D0F0;
	--main-purple: #CE6FDB;
	--main-cyan: #00DADF;
	--main-white: #BBBBBB;

	--sub-gray: #555555;
	--sub-red: #ED4937;
	--sub-green: #7DF71D;
	--sub-yellow: #FFFF55;
	--sub-blue: #62CBE8;
	--sub-purple: #FF9BF5;
	--sub-cyan: #00CCD8;
	--sub-white: #FFFFFF;

	--scrollbar-bg: var(--bg-color);
	--scrollbar-fg: var(--sub-gray);
	--scrollbar-fg-hover: var(--main-white);
}

body {
	margin: 0;
	padding: 15px 20px;
	width: 100%;
	min-width: 550px;
	color: var(--main-red);
	background: var(--bg-color);
	font-family: courier;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 2.5px;
	background: var(--scrollbar-fg);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-fg-hover);
}

::selection {
	color: var(--bg-color);
	background-color: var(--main-blue);
}

::-moz-selection {
	color: var(--bg-color);
	background-color: var(--main-blue);
}

textarea {
	left: -1000px;
	position: absolute;
}

b {
	font-weight: bold;
	text-decoration: underline;
}

/* Cursor Start */
.cursor {
	font-size: 12px;
	color: var(--main-red);
	background-color: var(--main-red);
	position: relative;
	opacity: 1;
	height: 1.5em;
	width: 10px;
	max-width: 10px;
	transform: translateY(4px);
	overflow: hidden;
	text-indent: -5px;
	display: inline-block;
	text-decoration: blink;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

#command {
	cursor: text;
	height: 50px;
	color: var(--sub-red);
}

#liner {
	line-height: 1.3em;
	margin-top: -2px;
	animation: show 0.5s ease forwards;
	animation-delay: 1.2s;
	opacity: 0;
}

#liner::before {
	color: var(--main-green);
	content: ">";
}

#liner.password::before {
  	content: "Password:";
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Cursor End */
p {
	display: block;
	line-height: 1.3em;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	letter-spacing: 0.05em;
	animation: typing 0.5s steps(30, end);
}

.no-animation {
  	animation: typing 0 steps(30, end);
}

.margin {
  	margin-left: 20px;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

.index {
  	color: var(--main-white);
}

.color2 {
  	color: var(--main-white);
}

.command {
	color: var(--main-blue);
	text-shadow: 0 0 5px var(--main-blue);
}

.error {
  	color: #FF0000;
}

.white {
  	color: var(--sub-white);
}

.inherit,
a {
  	color: var(--main-green);
}

a {
  	text-decoration: inherit;
}

a:hover {
	background: var(--main-blue);
	color: var(--bg-color);
}

a:focus {
  	outline: 0;
}